Aufgabe_03_erste_Auswertung_mit_Pandas_Wintertourismus/A03_Wintertourismus_ersteAuswertungMitPandas/.idea/A03_Wintertourismus_ersteAuswertungMitPandas.iml
Aufgabe_05_MNISTFashionKlassifikation/A05_KERAS/categorized_images/
Aufgabe_05_MNISTFashionKlassifikation/A05_KERAS/tmp_Daten/